name: Deploy to EC2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup - Checkout Repository
        uses: actions/checkout@v2

      - name: Deploy - Application
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 프로젝트 디렉토리 설정
            APP_DIR=~/apps/count-on-me
            mkdir -p $APP_DIR
            cd $APP_DIR

            # 초기 설치 확인 및 실행
            if [ ! -d .git ]; then
              echo "Running initial installation..."
              git clone https://github.com/count-on-mee/backend.git .
              chmod +x ./deploy/install.sh
              ./deploy/install.sh
            fi

            # 환경변수 설정
            cat > $APP_DIR/.env.production << EOL
            NODE_ENV=production
            PORT=3000
            CLIENT_URL=${{ secrets.CLIENT_URL }}
            DB_HOST=${{ secrets.DB_HOST }}
            DB_PORT=${{ secrets.DB_PORT }}
            DB_USERNAME=${{ secrets.DB_USERNAME }}
            DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            DB_NAME=${{ secrets.DB_NAME }}
            JWT_ACCESS_SECRET=${{ secrets.JWT_ACCESS_SECRET }}
            JWT_REFRESH_SECRET=${{ secrets.JWT_REFRESH_SECRET }}
            GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}
            GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }}
            GOOGLE_CALLBACK_URI=${{ secrets.GOOGLE_CALLBACK_URI }}
            KAKAO_CLIENT_ID=${{ secrets.KAKAO_CLIENT_ID }}
            KAKAO_CALLBACK_URI=${{ secrets.KAKAO_CALLBACK_URI }}
            NAVER_CLIENT_ID=${{ secrets.NAVER_CLIENT_ID }}
            NAVER_CLIENT_SECRET=${{ secrets.NAVER_CLIENT_SECRET }}
            NAVER_CALLBACK_URI=${{ secrets.NAVER_CALLBACK_URI }}
            AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_REGION=${{ secrets.AWS_REGION }}
            AWS_BUCKET_NAME=${{ secrets.AWS_BUCKET_NAME }}
            AWS_ACCOUNT_ID=${{ secrets.AWS_ACCOUNT_ID }}
            AWS_PUBLIC_BASE_URL=${{ secrets.AWS_PUBLIC_BASE_URL }}
            NCP_MAP_ID=${{ secrets.NCP_MAP_ID }}
            NCP_MAP_SECRET=${{ secrets.NCP_MAP_SECRET }}
            REDIS_HOST=${{ secrets.REDIS_HOST }}
            REDIS_PORT=${{ secrets.REDIS_PORT }}
            REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}
            NCP_CLOVA_TEST_KEY=${{ secrets.NCP_CLOVA_TEST_KEY }}
            EOL

            # 애플리케이션 배포
            chmod +x ./deploy/deploy.sh
            ./deploy/deploy.sh
